.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.banner {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.linkContainer {
  display: flex;
  gap: 3rem;
}

.owl {
  width: 100%;
  max-width: 400px;
}

.owl img {
  position: relative !important;
}
