.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.banner {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.linkContainer {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3rem;
}

.link svg {
  color: red;
  fill: red;
}
